.booking-summary-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #231aa5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .location-details,
  .booking-details,
  .payment-details {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  h3 {
    color: #555;
    margin-bottom: 10px;
  }
  
  p {
    color: #666;
    margin: 5px 0;
  }
  
  .pay-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .pay-button:hover {
    background-color: #45a049;
  }
  
  .footer {
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
  }
  
  .footer a {
    color: #ffffff;
    text-decoration: underline;
  }
  .question-text{
    color: #ffffff;
  }
  .location-heading{
    font-size: 23px;
    font-family: "Roboto";
    font-weight: bold;

  }